.book-form-container {
    background-color: bisque;
    padding: 20px;
}

.book-form-container h1 {
    text-align: center;
}

.author-form-container {
    background-color: rgb(238, 122, 122);
    padding: 20px;
}