body {
    margin: 0;
}

#search-section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1528819027803-5473f2bf7633?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
    background-position: center;
    background-size: cover;
}

#search-section div input {
    padding: 10px;
    width: 400px;
    border: none;
    border-radius: 10px;
}

#search-section div button {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

#photo-section {
    background: rgb(243, 242, 242);
    height: 100%;
}